body{
    background-color: rgba(30,255,211,0.2);
}
.header-panel{
    display: block;
    text-align: right;
    padding: 10px 20px 10px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: coral;
    box-shadow: rgba(154, 32, 238, 0.4) 10px 10px 10px 0px;
}
.general{
    display: block;
    text-align: center;
    padding: 30px 0px 20px 0px;
    border-radius: 10px;
    background: slategrey;
    box-shadow: lightgreen 10px 10px 10px 0px;
}